/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font: 18px/1.5 "Ranchers", cursive;
}

h1 {
  font-size: 60px;
  text-align: center;
}

.domecek {
  margin: 50px auto;
  width: 700px;
  height: 400px;
  border: 5px solid black;
  border-radius: 20px;
  background: url(images/stred.png) no-repeat center/cover;

  position: relative;
}

.dopis{
  position:absolute;
  bottom: 0;
}
.motyl{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.kniha{
  position:absolute;
  top: -70px;
  left: -60px;
}
.sluchatka{
  position: absolute;
  right: 30px;
  top: 30px;
}
.spanek{
  position: absolute;
  right: 0;
  bottom: 0;

}